@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "";
}

@model Zencareservice.Models.Signup;
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Paasword </title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        .form-gap {
            padding-top: 70px;
        }
    </style>

</head>


<body>

        <div class="form-gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-unlock fa-4x"></i></h3>
                                <h2 class="text-center">Reset Password?</h2>
                                <p>You can reset your password here.</p>
                                <div class="panel-body">

                                    <form method="POST" class="register-form" id="register-form" >

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input asp-for="RPassword" id="rpassword" name="rpassword" placeholder="ResetPassword" class="form-control" type="password" pattern="^(?=.*[A-Za-z0-9])(?=.*[@@$!%*#?&]).{8,16}$" title="Password must be at least 8 characters long, alphanumeric, and contain at least one special character." required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                                <input asp-for="CRPassword" id="crpassword" name="crpassword" placeholder="Confirm ResetPassword" class="form-control" type="password" pattern="^(?=.*[A-Za-z0-9])(?=.*[@@$!%*#?&]).{8,16}$" title="Password must be at least 8 characters long, alphanumeric, and contain at least one special character." required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @* <input name="recover-submit"  class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit"/> *@
                                        <button type="submit" id="signup" class="btn btn-lg btn-primary btn-block" name="ResetPassword" asp-action="ResetPassword" asp-controller="Account">ResetPassword</button>
                                        </div>

                                        <input type="hidden" class="hide" name="token" id="token" value="">
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
</body>
</html>